<%= form_with model: [@course, @enrollment], local: true do |f| %>
  <% if @enrollment.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h4>
      <ul>
        <% @enrollment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :student_id, 'Student' %>
    <%= f.collection_select :student_id, @students, :id, :name, prompt: 'Select a student', class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :final_grade %>
    <%= f.text_field :final_grade, class: "form-control" %>
  </div>

  <%= f.submit 'Enroll Student', class: "btn btn-primary" %>
<% end %>
